apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: {{ kube_port_arg.api_server }}
---
apiServer:
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta2
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
kind: ClusterConfiguration
kubernetesVersion: v{{ kube_version }}
imageRepository: {{ kube_registry_server }}
controlPlaneEndpoint: "{{ kube_control_plane_endpoint | lower }}"
networking:
  dnsDomain: cluster.local
  podSubnet: "{{ kube_network.pod_cidr }}"
  serviceSubnet: "{{ kube_network.srv_cidr }}"
scheduler: {}
